body {
	/*font-family: sans-serif, Georgia, Serif; */
}

h1{
	text-align: center;
}

#pageselector{
	margin-left: 50px;
}

.gistRow {
	margin: 6px;
	padding-left: 4px;
	margin-left: 20px;
	border-radius: 4px;
	background-color: #A3E0FF;
	padding:10px;
}

.info {
	font-weight: bold;
}

#favoritesbar {
	width: 40%;
	outline: black solid 2px;
	margin: 6px;
	padding-left: 4px;
	margin-right: 20px;
	float: right;
}

.favoriteheading{
	font-style: italic;
	font-family: cursive;
	font-size: 18pt;
	font-weight: bold;
	margin-left: 4pt;
	text-decoration: underline;
}
#infoArea {
	width: 55%;
	float: left;
	text-decoration: underline;	
	font-weight: bold;
}

.favoriteOne {
	margin: 4px;
}

.deleteButton {
	float: right;
}