body {
	font-family: sans-serif, Georgia, Serif; 
}

h1{
	text-align: center;
}

#pageselector{
	margin-left: 50px;
}

.gistRow {
	border-radius: 5px;
	background-color: lightblue;
	margin: 6px;
	padding-left: 4px;
	margin-left: 20px;
}

.info {
	font-weight: bold;
}

#favoritesbar {
	width: 35%;
	outline: black solid 2px;
	margin: 6px;
	padding-left: 4px;
	margin-right: 20px;
	float: right;
}
.favoriteheading{
	font-style: italic;
	text-decoration: underline;	
	font-size: 20pt;
	font-weight: bold;

}
#infoArea {
	width: 60%;
	float: left;
}

.deleteButton {
	text-align: right;
}

.favoriteOne {
	margin: 4px;

}

.deleteButton {
	float: right;
}